.widget-social {
    display: inline-flex;
    align-items: center;
    
    .icon-social {
        display: inline-flex;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: #eee;
        color: $color-primary !important;
        font-size: 32px;
        margin: 0 7.5px;
        
        &:hover {
            background-color: $color-primary;
            color: #fff !important;

            .icon-social-tripadvisor {
                background-image: url(../img/icons/icon-social-tripadvisor-white.svg);
            }
        }
    }

    &.layout-1 {
        &.alt {
            .icon-social {
                background-color: rgba(255,255,255,0.10);
                width: 80px;
                height: 80px;
                font-size: 40px;
                color: #fff !important;
        
                &:hover {
                    background-color: #fff;
                    color: $color-primary !important;
        
                    .icon-social-tripadvisor {
                        background-image: url(../img/icons/icon-social-tripadvisor-white.svg);
                    }
                }
            }
        }
    }

    &.layout-2 {
        .icon-social {
            i {
                transition: all 0.75s;
            }
    
            &:hover {
                i {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .widget-social.layout-1.alt .icon-social {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media(max-width: 767px) {
    .widget-social .icon-social {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}