.btn {
    &.btn-secondary {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: #fff;

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):active:focus,
        &:focus,
        &:active,
        &:hover {
            background-color: $color-secondary-dark;
            border-color: $color-secondary-dark;
            box-shadow: none;
            color: #fff !important;
        }

        &.btn-degree {
            background: rgb(248,225,184);
            background: linear-gradient(120deg, rgba(248,225,184,1) -30%, rgba(171,127,100,1) 130%);
            border: transparent;
            color: $color-primary-1;

            &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled):active:focus,
            &:focus,
            &:active,
            &:hover {
                background: rgb(248,225,184);
                background: linear-gradient(120deg, rgba(171,127,100,1) -30%, rgba(248,225,184,1) 130%);
                border: transparent;
                box-shadow: none;
                color: $color-primary-1;
            }
        }
    }
}