.section-banner {
    &.banner-3 {
        position: relative;

        img {
            min-height: 200px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .content {
            padding: 60px 15px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url(../img/misc/banner-overlay.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;

            .info {
                color: #fff;
                font-size: 20px;
                font-weight: $font-weight-semi-bold;
                line-height: 24px;
                text-align: center;
                max-width: 850px;
                margin: auto;

                h1 {
                    color: #fff;
                    font-size: 53px;
                    font-weight: $font-weight-regular;
                }

                p {
                    margin: 0 0 0 0;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .section-banner.banner-3 .content .info {
        font-size: 16px;
        line-height: 20px;
    }
}

@media(max-width: 575px) {
    .section-banner.banner-3 .content .info h1 {
        font-size: 43px;
        line-height: 46px;
    }
    .section-banner.banner-3 .content .info {
        font-size: 14px;
        line-height: 18px;
    }
}