.section-info {
    &.layout-2 {
        padding: 60px 0 60px;

        .info {
            font-size: 17px;
            font-weight: $font-weight-regular;
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                font-size: 45px;
                margin: 0 0 10px 0;
            }
            
            h3 {
                font-size: 22px;
                margin: 0 0 20px 0;
            }

            .link {
                padding: 30px 0;
                text-align: center;
            }

            .wrapper {
                width: 100%;
                max-width: 721px;
                margin: 135px auto 0;
                padding: 0 45px;
            }

            &::before {
                content: '';
                position: absolute;
                width: calc(100% + 100px);
                height: 20px;
                background-color: $color-primary;
                top: 90px;
                right: 0;
                z-index: 3;
            }

            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 268px;
                background-color: $color-primary;
                top: 90px;
                right: 0;
                z-index: 3;
            }
        }

        .image {
            position: relative;
            z-index: 1;
        }

        &.reverse {
            .row-content {
                flex-direction: row-reverse;
            }

            .info {
                &::before {
                    width: calc(100% + 100px);
                    height: 20px;
                    top: 90px;
                    right: unset;
                    left: 0;
                }
    
                &::after {
                    width: 20px;
                    height: 268px;
                    top: 90px;
                    right: unset;
                    left: 0;
                }
            }
        }
    }
}

@media(max-width: 1199px) {
    .section-info.layout-2 .image {
        text-align: center;
    }
    
    .section-info.layout-2 .image img {
        object-fit: cover;
        max-height: 400px;
        width: 100%;
    }
    
    .section-info.layout-2 .info .wrapper {
        margin: 75px auto 0;
        padding: 0 45px 0 0;
    }

    .section-info.layout-2.reverse .info .wrapper {
        padding: 0 0 0 45px;
    }
    
    .section-info.layout-2 .info::after {
        top: 15px;
    }
    
    .section-info.layout-2 .info::before {
        top: 15px;
        width: 100%;
    }

    .section-info.layout-2.reverse .info::before {
        top: 15px;
        width: 100%;
    }
    
    .section-info.layout-2.reverse .info::after {
        top: 15px;
    }
}

@media(max-width: 991px) {
    .section-info.layout-2 {
        padding: 30px 0 30px;
    }

    .section-info.layout-2 .info {
        font-size: 15px;
        line-height: 21px;
    }

    .section-info.layout-2 .info h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .section-info.layout-2 .info h3 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media(max-width: 575px) {
    .section-info.layout-2 .info .wrapper,
    .section-info.layout-2.reverse .info .wrapper {
        padding: 0 0 0 0;
        margin: 30px auto 0;
    }
    .section-info.layout-2 .info::after,
    .section-info.layout-2 .info::before {
        content: unset;
    }
}